<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="ehcache.xsd" updateCheck="true"
	monitoring="autodetect" dynamicConfig="true">

	<jdbc name="jdbc/Rycc" 
		testWhileIdle="true" 
		testOnBorrow="true"
		testOnReturn="false" 
		testOnConnect="true" 
		validationQuery="SELECT 1"
		validationInterval="30000" 
		timeBetweenEvictionRunsMillis="30000"
		maxActive="50" 
		minIdle="10" 
		maxIdle="50" 
		maxWait="10000" 
		initialSize="10"
		removeAbandonedTimeout="60" 
		removeAbandoned="true" 
		logAbandoned="true"
		minEvictableIdleTimeMillis="30000" 
		jmxEnabled="true"
		jdbcInterceptors="org.apache.tomcat.jdbc.pool.interceptor.ConnectionState;
            org.apache.tomcat.jdbc.pool.interceptor.StatementFinalizer"
		driverClassName="com.mysql.jdbc.Driver">
	</jdbc>

</config>