<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<config>
	<iptables>
	
		<!-- 连接hbase服务端的ip列表 maxthread:允许创建最大线程数 status：状态，0无效，1有效 -->
		<iptable name="iptable1" addr="127.0.0.1" port="8083" maxthread="50" status="0" />
		<iptable name="iptable2" addr="127.0.0.1" port="8083" maxthread="50" status="1" />
	</iptables>
	
	<!-- 配置业务标识号与终端需要连接到哪个处理层，多个iptable间用,分隔 -->
	<commandids>
		<commandid value="1" sessionid="1" iptable="iptable1" />
		<commandid value="10" sessionid="1" iptable="iptable1" />
	</commandids>
	
</config>
