<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<config>

	<!-- 设置号段 如100~200的号段为：min=1,max=2 目前只对min递增，不对max进行溢出判断 -->
	<sections>

		<!-- 学校未两位唯一序号的允许的号段 该服务程序对此序号递增范围限定在该区间 如序号为2位长，则length=10，依次类推 -->
		<section name="school" minid="1" maxid="4" length="10" />

		<!-- 班级未6位唯一序号的允许的号段 该服务程序对此序号递增范围限定在该区间 如序号为3位长，则length=100，依次类推 -->
		<section name="class" minid="1" maxid="4" length="100000" />

	</sections>

</config>